# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Private stuff\Fakultet\8 Semestar\KiDS\Vezbe\Projekat\kids_proj_darko_dimitrijevic_rn9418\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
